* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fredoka", Helvetica, sans-serif;
}

h1 {
    color: #e53170;
    margin: 50px;
    font-size: 50px;
}

a {
    text-decoration: none;
    color: rgb(0, 174, 255);
}

.card p,
.card h4 {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.subtitle {
    margin: 50px;
    text-align: center;
}

/* CLEARFIX */

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* UTILITY */

.container,
#app-header {
    max-width: 1170px;
    margin: auto;
    text-align: center;
}

.card img {
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
}

.card {
    float: left;
    text-align: left;
    width: calc(90% / 3);
    background-color: #0f0e17;
    color: whitesmoke;
    margin-left: 30px;
    margin-bottom: 50px;
}

